.modal-content {
    overflow-y: auto; /* 讓內部文字區域滾動 */
}

.max-h {
    height: 90vh !important;
}


.ql-container {
    height: auto !important;
}
  

.ql-editor {
    min-height: 200px;
    max-height: 350px !important; /* 限制最大高度 */
    overflow-y: auto !important;  /* 讓內部文字區域滾動 */
}


.ql-formats{
   margin-right: 5px !important;
}




