.related-articles.nav{
  .nav-link{
    color: $gray;
  }
  .nav-link.active{
    color: $primary;
    border-bottom: 2px solid $primary;
  }
}

.article-banner{
  height: 400px;
  @include media-breakpoint-up(lg) {
    height: 600px;
  }
}

.article-wrap{
  h2{
    font-weight: bold;
    font-size: 28px;
    @include media-breakpoint-up(lg){
      font-size: 36px;
    };
  }
  img{
    width: 100%;
    height: auto;
  }
}